body {
  margin: 0;
  font-family: arial;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: rgb(41, 193, 227);
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  display: flex;
}

header img {
  width: 50%;
}

.conteudo-central {
  display: flex;
}

nav {
  width: 30%;
  height: 30%;
  max-height: 30%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  padding: 10px;
  border-radius: 1%;
}

main {
  width: 70%;
  background-color: rgba(0, 255, 255, 0.457);
  padding: 10px;
  display: flex;
}

section {
  background-color: rgba(59, 12, 228, 0.356);
  border-radius: 5%;
  padding: 10px;
  width: 60%;
  text-align: center;
}

main aside {
  padding-left: 5%;
  width: 30%;
}

footer {
  background-color: rgb(8, 0, 255);
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid gray;
}